{% extends 'layout.twig' %}

{% block body %}
  <div class="container-fluid text-center p-3" style="background-color: rgb(19, 54, 78);">
    <h1>{{ title }}</h1>
  </div>
  <div class="container-fluid p-5">
    {% for post in posts %}
      <h2>{{ post.title }}</h2>
      <div class="summary" data-id="{{ post.id }}">
        <p>{{ post.summary }}</p>
      </div>
      <p>{{ post.image }}</p>
      <div class="d-flex align-items-center">
        <div class="p-1">
          <a class="btn btn-primary" href="/posts/author/{{ post.author }}" role="button">Autor: {{ post.author }}</a>
        </div>
        <small>
          <div class="btn-group p-1" role="group">
            <a class="btn btn-primary" href="/posts/view/{{ post.id }}" role="button">Comentarios</a>
            {% if user.name != null and user.name == post.author %}
              <a class="btn btn-secondary" href="/posts/update/{{ post.id }}" role="button">Editar</a>
              <a class="btn btn-danger" href="/posts/delete/{{ post.id }}" role="button" onclick="return confirm('¿Está seguro?');">Borrar</a>
            {% endif %}
          </div>
        </small>
      </div>
      <hr />
    {% endfor %}
  </div>
{% endblock %}
