{% extends 'layout.twig' %}

{% block body %}
  <div class="container-fluid">
    <h1>{{ title }}</h1>
    <div class="">
    <a href="/users/auth">
      Login with GitHub
    </a>
    </div>
  </div>
  </div>
  <p>{{ flashMessage }}</p>
  {% for post in posts %}
    <h2>{{ post.title }}</h2>
    <div class="summary" data-id="{{ post.id }}">
    <p>{{ post.summary }}</p>
    </div>
    <p>{{ post.image }}</p>
    <a href="/posts/author/{{ post.author }}">{{ post.author }}</a>
    <small>
        <a href="/posts/view/{{ post.id }}">Leer más</a>
        &nbsp;|&nbsp;
        <a href="/posts/update/{{ post.id }}">Editar</a>
        &nbsp;|&nbsp;
        <a href="/posts/delete/{{ post.id }}" onclick="return confirm('¿Está seguro?');">Borrar</a>
    </small>
    <hr />
  {% endfor %}
  <a href="/posts/create">¡Añadir una nueva publicación!</a>
{% endblock %}

{% block javascripts %}
    <script>
      $('.summary').each(function(i, obj) {
        if($(this).html().length > 307){
          var id = $(this).data('id');
          $(this).html($(this).html().substring(0,307) + "... " + '<a href="/posts/view/' + id + '">Leer más</a>');
        }
      });
    </script>
{% endblock %}