{% extends 'layout.twig' %}

{% block body %}
  <div class="container-fluid d-flex align-items-center justify-content-center p-3" style="background-color: rgb(19, 54, 78);">
    <h1 class="m-0">{{ title }}</h1>
  </div>
  {% if flashMessage != null %}
    <div class="container-fluid text-center p-3">
      <h3 class="m-0">{{ flashMessage }}</h3>
    </div>
    <hr />
  {% endif %}
  <div class="container-fluid px-5 py-3">
    <div class="row">
      <div class="col-9">
        {% for post in posts %}
          <h2>{{ post.title }} <small class="text-secondary">{{ post.date|date('d/m/Y') }}</small></h2>
          <img src="{{ post.image }}" />
          <div class="summary" data-id="{{ post.id }}">
            <p>{{ post.summary }}</p>
          </div>
          <div class="d-flex align-items-center">
            <div>
              <a class="btn btn-primary" href="/posts/author/{{ post.author }}" role="button">Autor: {{ post.author }}</a>
            </div>
            <small>
              <div class="btn-group px-2" role="group">
                <a class="btn btn-primary" href="/posts/view/{{ post.id }}" role="button">Comentarios</a>
                <a class="btn btn-secondary" href="/posts/update/{{ post.id }}" role="button">Editar</a>
                <a class="btn btn-danger" href="/posts/delete/{{ post.id }}" role="button" onclick="return confirm('¿Está seguro?');">Borrar</a>
              </div>
            </small>
          </div>
          <hr />
        {% endfor %}
        <div>
          <a class="btn btn-success" href="/posts/create" role="button">Añadir una nueva publicación</a>
          <hr />
        </div>
        <div>
          <nav>
            <ul class="pagination">
              {% if page > 1 %}
                <li class="page-item">
                  <a class="page-link" href="/posts/manage?page={{ page - 1 }}">Previa</a>
                </li>
              {% else %}
                <li class="page-item active disabled">
                  <a class="page-link">Previa</a>
                </li>
              {% endif %}
              {% if page == 1 %}
                <li class="page-item active disabled">
                  <a class="page-link" href="/posts/manage?page=1">1</a>
                </li>
              {% elseif page != 1 and page <= 4 %}
                <li class="page-item">
                  <a class="page-link" href="/posts/manage?page=1">1</a>
                </li>
              {% elseif page > 4 %}
                <li class="page-item">
                  <a class="page-link" href="/posts/manage?page=1">1</a>
                </li>
                <li class="page-item active disabled">
                  <a class="page-link">...</a>
                </li>
              {% endif %}
              {% for i in 2..pageNumber - 1 %}
                {% if page != i and i - 3 < page and i + 3 > page %}
                  <li class="page-item">
                    <a class="page-link" href="/posts/manage?page={{ i }}">{{ i }}</a>
                  </li>
                {% elseif page == i %}
                  <li class="page-item active disabled">
                    <a class="page-link">{{ i }}</a>
                  </li>
                {% elseif page != i and i == 1 %}
                  <li class="page-item">
                    <a class="page-link" href="/posts/manage?page={{ i }}">{{ i }}</a>
                  </li>
                {% elseif page != i and i == pageNumber %}
                  <li class="page-item">
                    <a class="page-link" href="/posts/manage?page={{ i }}">{{ i }}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if page < pageNumber - 3 %}
                <li class="page-item active disabled">
                  <a class="page-link">...</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="/posts/manage?page={{ pageNumber }}">{{ pageNumber }}</a>
                </li>
              {% elseif page != pageNumber and page >= pageNumber - 3 %}
                <li class="page-item">
                  <a class="page-link" href="/posts/manage?page={{ pageNumber }}">{{ pageNumber }}</a>
                </li>
              {% elseif page == pageNumber %}
                <li class="page-item active disabled">
                  <a class="page-link" href="/posts/manage?page={{ pageNumber }}">{{ pageNumber }}</a>
                </li>
              {% endif %}
              {% if page < pageNumber %}
                <li class="page-item">
                  <a class="page-link" href="/posts/manage?page={{ page + 1 }}">Siguiente</a>
                </li>
              {% else %}
                <li class="page-item active disabled">
                  <a class="page-link">Siguiente</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-3">
        <h3 class="m-0">Autores:</h3>
        <div class="row">
          {% for author in authors %}
            <div class="col-8">
              <a class="link-success fs-4" href="/posts/author/{{ author.author }}">{{ author.author }}</a>
            </div>
            <div class="col-4">
              <a class="link-danger fs-4" href="/posts/deleteAuthor/{{ author.author }}" onclick="return confirm('¿Borrar todas las publicaciones de este autor?');">Borrar</a>
            </div>
          {% endfor %}
        </div>
        <hr />
        <h3 class="m-0">Categorías:</h3>
        <div class="row">
          {% for category in categories %}
            <div class="col-8">
              <a class="link-success fs-4" href="/posts/category/{{ category.name }}">{{ category.name }}</a>
            </div>
            <div class="col-4">
              <a class="link-danger fs-4" href="/posts/deleteCategory/{{ category.name }}" onclick="return confirm('¿Está seguro?');">Borrar</a>
            </div>
          {% endfor %}
          <a class="link-primary fs-4" href="/posts/createCategory">Crear nueva categoría</a>
        </div>
        <hr />
        <h3 class="m-0">Usuarios:</h3>
        <hr />
        {% for person in users %}
          <div>
            <p class="text-success fs-4 m-0">{{ person.name }}:</p>
          </div>
          <div class="row">
            {% if person.name != user.name %}
              <div class="col-6">
                {% if person.admin %}
                  <a class="link-danger fs-4" href="/posts/demoteUser/{{ person.name }}" onclick="return confirm('Esta acción removera al usaurio de los administradores, ¿continuar?');">Degradar</a>
                {% else %}
                  <a class="link-primary fs-4" href="/posts/promoteUser/{{ person.name }}" onclick="return confirm('Esta acción convertira al usaurio en administrador, ¿continuar?');">Promover</a>
                {% endif %}
              </div>
            {% else %}
              <p class="text-success fs-4 m-0">Usuario actual</p>
            {% endif %}
            {% if person.name != user.name %}
              <div class="col-6">
                <a class="link-danger fs-4" href="/posts/deleteUser/{{ person.name }}" onclick="return confirm('¿Está seguro?');">Borrar</a>
              </div>
            {% endif %}
          </div>
          <hr />
        {% endfor %}
        <hr />
      </div>
    </div>
    <hr />
    <div>
      <a class="btn btn-secondary" href="/posts" role="button">Regresar a la página principal</a>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script>
    $('.summary').each(function (i, obj) {
      if ($(this).html().length > 307) {
        var id = $(this).data('id')
        $(this).html($(this).html().substring(0, 307) + '... ' + '<a href="/posts/view/' + id + '">Leer más</a>')
      }
    })
  </script>
{% endblock %}
