{% extends 'layout.twig' %}

{% block body %}
  <div class="container-fluid text-center p-3" style="background-color: rgb(19, 54, 78);">
    <h1 class="m-0">{{ title }}</h1>
  </div>
  <div class="container-fluid px-5 py-3">
    <h2>{{ post.title }} <small class="text-secondary">{{ post.date|date("d/m/Y") }}</small></h2>
    {% if post.image != null %}
      <div class="overflow-hidden d-flex align-items-center justify-content-center" style="height:350px; width:850px;">
        <img style="max-width: 100%; max-height: 100%; display: block;" src="{{ post.image }}"/>
      </div>
    {% endif %}
    <p>{{ post.summary }}</p>
    <div class="d-flex align-items-center">
      <div>
        <a class="btn btn-primary" href="/posts/author/{{ post.author }}" role="button">Autor: {{ post.author }}</a>
      </div>
      <small>
        <div class="btn-group px-2" role="group">
          {% if (user.name != null and user.name == post.author) or user.admin %}
            <a class="btn btn-secondary" href="/posts/update/{{ post.id }}" role="button">Editar</a>
            <a class="btn btn-danger" href="/posts/delete/{{ post.id }}" role="button" onclick="return confirm('¿Está seguro?');">Borrar</a>
          {% endif %}
        </div>
      </small>
    </div>
    <hr />
    <h2>Comentarios</h2>
    <div>
      {% for comment in comments %}
        <p>{{ comment.email }} <small class="text-secondary">{{ comment.date|date("d/m/Y") }}</small>
          {% if (user.name != null and user.email == comment.email) or user.admin %}
            <a class="link-danger" href="/posts/deleteComment/{{ comment.id }}" onclick="return confirm('¿Borrar comentario?');">Borrar</a>
          {% endif %}
        </p>
        <p>{{ comment.comment }}</p>
        
        <hr />
      {% endfor %}
    </div>
    {% if user.name != null  %}
      <form method="POST">
        <div class="mb-3">
          <label for="comment">Comentario:</label><br />
          <textarea class="form-control" id="comment" name="comment" maxlength="200" required></textarea>
        </div>
        <input type="hidden" id="postId" name="postId" value="{{ post.id }}">
        <input type="hidden" id="email" name="email" value="{{ user.email }}">
        <div>
          <input class="btn btn-primary" type="submit" value="Publicar" />
        </div>
      </form>
      <hr />
    {% endif %}
    <div>
      <a class="btn btn-secondary" href="/posts" role="button">Regresar a la página principal</a>
    </div>
  </div>
{% endblock %}
