{% extends 'layout.twig' %}

{% block body %}
  <div class="container-fluid text-center p-3" style="background-color: rgb(19, 54, 78);">
    <h1 class="m-0">{{ title }}</h1>
  </div>
  <div class="container-fluid p-5">
    <h2>{{ post.title }}</h2>
    <p>{{ post.summary }}</p>
    <img src="{{ post.image }}"/>
    <div class="d-flex align-items-center">
      <div>
        <a class="btn btn-primary" href="/posts/author/{{ post.author }}" role="button">Autor: {{ post.author }}</a>
      </div>
      <small>
        <div class="btn-group px-2" role="group">
          <a class="btn btn-primary" role="button" active disabled>Comentarios</a>
          {% if user.name != null and user.name == post.author %}
            <a class="btn btn-secondary" href="/posts/update/{{ post.id }}" role="button">Editar</a>
            <a class="btn btn-danger" href="/posts/delete/{{ post.id }}" role="button" onclick="return confirm('¿Está seguro?');">Borrar</a>
          {% endif %}
        </div>
      </small>
    </div>
    <hr />
    <div>
      <a class="btn btn-secondary" href="/posts" role="button">Regresar a la página principal</a>
    </div>
  </div>
{% endblock %}
